/* LATO FONT */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* PLAYFAIR DISPLAY FONT */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* NUNITO FONT */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  transition: var(--transition-3);
  border: none;
  outline: none;
}
:root {
  /* COLORS */
  --b-green: hsl(176, 88%, 27%);
  --green: hsl(134, 94%, 87%);
  --green-alt: hsl(129, 44%, 94%);
  --title-color: hsl(0, 0%, 13%);
  --black-3: hsla(0, 3%, 7%, 1);
  --text-color: hsl(154, 13%, 32%);
  --text-color-alt: hsl(60, 1%, 56%);
  --white: hsl(0, 0%, 100%);
  --container-color: hsl(0, 0%, 93%);
  --border-color: hsl(129, 36%, 85%);
  --border-color-alt: hsl(113, 15%, 90%);

  /* FONT FAMILY */
  --font_family-1: "lato", sans-serif;
  --font_family-2: "Playfair Display", serif;
  --font_family-3: "Nunito", sans-serif;

  /* GRADIENTS */
  --loading-text-gradient: linear-gradient(
    90deg,
    transparent 0% 16.66%,
    var(--black-3) 33.33% 50%,
    transparent 66.66% 75%
  );
  --gradient-1: linear-gradient(
    to top,
    hsla(0, 0%, 0%, 0.9),
    hsla(0, 0%, 0%, 0.7),
    transparent
  );

  /* FONT SIZES */
  --fontSize-13: calc(1.3rem + 6.7vw);
  --fontSize-12: calc(2rem + 2.5vw);
  --fontSize-11: calc(1.3rem + 2.4vw);
  --fontSize-10: calc(1.6rem + 1.2vw);
  --fontSize-9: 2.2rem;
  --fontSize-8: 2.1rem;
  --fontSize-7: calc(1.6rem + 1.2vw);
  --fontSize-6: 2.4rem;
  --fontSize-5: 1.6rem;
  --fontSize-4: 1.8rem;
  --fontSize-3: 1.6rem;
  --fontSize-2: 1.4rem;
  --fontSize-1: 1.2rem;

  /* FONT WEIGHTS */
  --weight-regular-400: 400;
  --weight-regular-500: 500;
  --weight-bold-700: 700;
  --weight-bolder: bolder;

  /* LINE HEIGHTS */
  --lineHeight-1: 1em;
  --lineHeight-2: 1.2em;
  --lineHeight-3: 1.5em;
  --lineHeight-4: 1.6em;
  --lineHeight-5: 1.85em;
  --lineHeight-6: 1.4em;

  /* LETTERS SPACINGS */
  --letterSpacing-1: 0.15em;
  --letterSpacing-2: 0.4em;
  --letterSpacing-3: 0.2em;
  --letterSpacing-4: 0.3em;
  --letterSpacing-5: 3px;

  /* SHADOWS */
  --shadow-1: 0px 0px 25px 0px hsla(0, 0%, 0%, 0.25);
  --shadow-2: 1px 1px 5px rgba(0, 0, 0, 0.2);
  --shadow-3: 1px 1px 10px rgba(0, 0, 0, 0.2);

  /* BORDER RADIUS */
  --radius-24: 24px;
  --radius-circle: 50%;

  /* TRANSITIONS */
  --transition-1: 250ms ease;
  --transition-2: 500ms ease;
  --transition-3: 1000ms ease;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0.8rem;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 0.8rem;
  background-color: var(--green);
}

/* GENERAL STYLES */
body {
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  width: 100%;
  scroll-behavior: smooth;
  background-color: var(--white);
}
img,
i,
a {
  cursor: pointer;
}
section {
  padding: 7rem 4.5%;
  padding-bottom: 0;
}

/* ============ HEADER SECTION STARTS =========== */
header {
  width: 100%;
  overflow-x: hidden;
}
.top-header {
  background-color: var(--green);
  border-bottom: 0.15rem solid var(--b-green);
  padding: 1.5rem 4.5%;
  width: 100%;
  overflow-x: hidden;
}
.top-header .header-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
}
.header-container .left {
  display: flex;
  gap: 3rem;
}
.header-container .right a,
.header-container .middle p,
.header-container .left span a,
.header-container .left p {
  font-size: var(--fontSize-1);
  color: var(--text-color);
  font-weight: var(--weight-bold-700);
  letter-spacing: var(--letterSpacing-1);
}
.header-container .right a:hover,
.header-container .left span a:hover {
  text-decoration: underline;
}
.header-container .middle p {
  font-size: var(--fontSize-1);
  color: var(--text-color);
  font-weight: var(--weight-bold-700);
  letter-spacing: var(--letterSpacing-1);
}
.bottom-header {
  padding: 1.5rem 4.5%;
  width: 100%;
}
.bottom-header .header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
}
.header-container .logo-link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5rem;
}
.logo-link .logo {
  width: 10rem;
}
.logo-link .logo img {
  width: 10rem;
}
.logo-link .links {
  margin-top: 1rem;
}
.links nav {
  display: flex;
  gap: 3rem;
}
.links nav a {
  font-size: var(--fontSize-2);
  font-weight: var(--weight-bold-700);
  font-family: var(--font_family-3);
  color: var(--title-color);
}
.links nav a.active,
.links nav a:hover {
  color: var(--b-green);
  border-bottom: 0.3rem solid var(--b-green);
  border-radius: 0.3rem;
}
.header-container .search-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.search-icons {
  width: 35%;
}
.search-icons .search {
  width: 100%;
  position: relative;
}
.search input {
  width: 100%;
  height: 4rem;
  padding-left: 1rem;
  border-radius: 0.5rem;
  border: 0.25rem solid var(--border-color-alt);
}
.search_2 {
  display: none;
}
.search input:focus {
  border: 0.25rem solid var(--border-color);
}
.search .search_img_1 {
  top: 15.5%;
  margin-left: -3rem;
  position: absolute;
}
.search_img {
  display: none;
}
.search-icons .img-heart img,
.search-icons .img-cart img {
  width: 2rem;
  position: relative;
}
.search-icons .img-heart .count,
.search-icons .img-cart .count {
  position: absolute;
  top: 9%;
  background-color: var(--b-green);
  color: var(--white);
  margin-left: 1rem;
  font-size: var(--fontSize-1);
  font-weight: var(--weight-bold-700);
  padding: 0.3rem 0.3rem;
  clip-path: circle();
  border-radius: var(--radius-circle);
}
.menu_btn {
  display: none;
}
.menu_btn i {
  font-size: var(--fontSize-6);
  margin-bottom: 0.5rem;
  font-weight: var(--weight-bold-700);
  display: none;
}
.menu_btn i:hover {
  color: #088178;
}
/* ============ HEADER SECTION ENDS =========== */

/* ========== RESPONSIVE NAVBAR ============= */
.responsive_bar {
  width: 30%;
  height: 100vh;
  box-shadow: var(--shadow-2);
  border: 0.25rem solid var(--border-color-alt);
  display: block;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
}
.responsive_bar .resp_container {
  background-color: var(--white);
  padding: 2rem;
  width: 100%;
  height: 100%;
}
.resp_container .logo img {
  width: 12rem;
}
.resp_container .resp_items {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  margin-top: 3rem;
}
.resp_items .resp_search {
  width: 100%;
  position: relative;
}
.resp_items .resp_search input {
  width: 100%;
  border: 0.25rem solid var(--border-color);
  height: 4rem;
  border-radius: 0.5rem;
  padding-left: 1rem;
}
.resp_items .resp_search input:focus {
  border: 0.2rem solid var(--border-color-alt);
}
.resp_search img {
  position: absolute;
  top: 15%;
  right: 3%;
}
.resp_icon {
  align-items: center;
  position: relative;
}
.resp_icon img {
  width: 2.5rem;
}
.resp_icon .count {
  position: absolute;
  top: -20%;
  right: -10%;
  background-color: var(--b-green);
  color: var(--white);
  margin-left: 1rem;
  font-size: var(--fontSize-1);
  font-weight: var(--weight-bold-700);
  padding: 0.3rem 0.3rem;
  clip-path: circle();
  border-radius: var(--radius-circle);
}
.resp_links {
  margin-top: 3rem;
}
.resp_links nav {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.resp_links nav a {
  font-size: var(--fontSize-3);
  color: var(--text-color);
  padding: 1.4rem 0.8rem;
  font-weight: var(--weight-bold-700);
}
.resp_links nav a.active,
.resp_links nav a:hover {
  border-top: 0.2rem solid #088178;
  border-bottom: 0.2rem solid #088178;
  border-radius: 0.5rem;
  color: var(--b-green);
  letter-spacing: var(--letterSpacing-1);
  font-weight: var(--weight-bolder);
}
.resp_links nav a:hover {
  background-color: var(--b-green);
  color: var(--white);
}

.small_screen_nav {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}
.small_screen_nav .screen_nav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  gap: 2rem;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 100000;
  padding: 1rem 4%;
  background-color: var(--white);
  box-shadow: var(--shadow-2);
  overflow-x: hidden;
}
.screen_nav .nav_s a {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  color: var(--black-3);
  padding: 1rem 1.4rem;
}
.nav_s i {
  font-size: var(--fontSize-3);
  font-weight: var(--weight-bolder);
}
.nav_s span {
  font-size: var(--fontSize-1);
  font-weight: var(--weight-regular-500);
  font-family: var(--font_family-3);
}
.nav_s a.active,
.nav_s a:hover {
  background-color: var(--b-green);
  clip-path: circle();
  color: var(--white);
}
/* ========== RESPONSIVE NAVBAR ============= */

/* =========== HOME SECTION STARTS ============= */
section.home {
  width: 100%;
  padding-top: 12rem;
  padding-bottom: 12rem;
  overflow-x: hidden;
}
.home .home-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.home-container .home_text,
.home-container .home_img {
  width: 100%;
  flex: 1 1 45rem;
}
.home_text h4 {
  font-size: var(--fontSize-1);
  font-weight: var(--weight-bold-700);
  color: var(--title-color);
  padding-bottom: 1rem;
  font-family: var(--font_family-2);
  letter-spacing: var(--letterSpacing-1);
}
.home_text h2 {
  font-size: var(--fontSize-7);
  font-weight: var(--weight-bold-700);
  color: var(--black-3);
  padding-bottom: 0.7rem;
}
.home_text h1 {
  font-size: var(--fontSize-11);
  font-weight: var(--weight-bold-700);
  color: var(--b-green);
  padding-bottom: 1rem;
}
.home_text p {
  font-size: var(--fontSize-1);
  font-weight: var(--weight-regular-500);
  color: var(--title-color);
  padding-bottom: 1rem;
  letter-spacing: var(--letterSpacing-1);
}
.btn {
  margin-top: 3rem;
}
.btn a {
  padding: 1.2rem 2.5rem;
  border-top: 0.3rem solid var(--b-green);
  border-bottom: 0.3rem solid var(--b-green);
  color: var(--black-3);
  background-color: var(--green-alt);
  font-size: var(--fontSize-3);
  font-weight: var(--weight-regular-500);
  border-radius: 0.5rem;
}
.btn a:hover {
  color: var(--white);
  background-color: var(--b-green);
  letter-spacing: var(--letterSpacing-1);
}
.home_img img {
  width: 100%;
}
/* =========== HOME SECTION ENDS ============= */

/* ============ CATEGORIES SECTION STARTS ============= */
section,
header {
  overflow: hidden;
  overflow-x: hidden;
}
section.category {
  padding: 6rem 4.5%;
  padding-top: 0;
  padding-bottom: 0rem;
  overflow-x: hidden;
}
.categories_head {
  padding-bottom: 2rem;
}
.categories_head.head {
  padding: 0;
}
.categories_head h2 {
  font-size: var(--fontSize-4);
  color: var(--black-3);
  font-family: var(--font_family-2);
  font-weight: var(--weight-bolder);
  letter-spacing: var(--letterSpacing-1);
}
.categories_head h2 span {
  color: var(--b-green);
}
.categories_container {
  width: 100%;
  overflow-x: hidden;
}
.categories_container .box {
  border-radius: 0.5rem;
  width: 100%;
  box-shadow: var(--shadow-2);
  padding: 0.625rem 0.625rem 1.25rem;
  border: 0.25rem solid var(--border-color);
  text-align: center;
  overflow: hidden;
}
.categories_container .box a img {
  width: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
}
.categories_container .box a img:hover {
  overflow: hidden;
  object-fit: cover;
  transform: scale(1.05);
}
.categories_container .box a h4 {
  font-size: var(--fontSize-3);
  font-weight: var(--weight-regular-500);
  color: var(--black-3);
  padding-top: 2rem;
}
/* SWIPER STYLES */
.category,
.arrivals {
  position: relative;
}
.mySwiper,
.mySwiper_2 {
  overflow: initial;
}
.arive_container .swiper-button-next::after,
.arive_container .swiper-button-prev::after,
.categories_container .swiper-button-next::after,
.categories_container .swiper-button-prev::after {
  content: "";
}
.arive_container .swiper-button-next,
.arive_container .swiper-button-prev {
  position: absolute;
  top: 20%;
  z-index: 100;
  border: 0.2rem solid var(--border-color);
  width: 2.5rem;
  height: 2.5rem;
  color: var(--text-color);
  font-size: var(--fontSize-3);
  border-radius: var(--radius-circle);
}
.categories_container .swiper-button-next,
.categories_container .swiper-button-prev {
  position: absolute;
  top: 10%;
  z-index: 100;
  border: 0.2rem solid var(--border-color);
  width: 2.5rem;
  height: 2.5rem;
  color: var(--text-color);
  font-size: var(--fontSize-3);
  border-radius: var(--radius-circle);
}
.arive_container .swiper-button-prev,
.categories_container .swiper-button-prev {
  left: initial;
  right: 7.5%;
}
.arive_container .swiper-button-next,
.categories_container .swiper-button-next {
  right: 4.5%;
}
/* SWIPER STYLES */
/* ============ CATEGORIES SECTION ENDS ============= */

/* ============ PRODUCTS SECTION ENDS ============= */
section.product {
  overflow-x: hidden;
}
.product {
  width: 100%;
  overflow: hidden;
  overflow-x: hidden;
}
.tabs_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  overflow: hidden;
  overflow-x: hidden;
}
.tabs_container .tab_btn {
  padding: 1.2rem 2.2rem;
  font-size: var(--fontSize-2);
  font-family: var(--font_family-3);
  font-weight: var(--weight-bold-700);
  color: var(--text-color);
  border-radius: 0.5rem;
  cursor: pointer;
}
.tabs_container .tab_btn.active_tab,
.tabs_container .tab_btn:hover {
  box-shadow: inset var(--shadow-3);
}
.tab_items {
  margin-top: 4rem;
}
.arrival_cover {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.tab_item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.tab_item:not(.active_tab) {
  display: none;
}
.arrive_container,
.product_container {
  width: 100%;
  padding: 1.5rem;
  cursor: pointer;
  flex: 1 1 25rem;
  border-radius: 0.5rem;
  border: 0.25rem solid var(--border-color);
  box-shadow: var(--shadow-2);
  position: relative;
}
.arrive_container .product_item,
.product_container .product_item {
  position: relative;
  overflow: hidden;
}
.arrive_container .product_item a img,
.product_container .product_item a img {
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  overflow: hidden;
}
.arrive_container .product_item a img:hover,
.product_container .product_item a img:hover {
  transform: scale(1.1);
  object-fit: cover;
  overflow: hidden;
}
.product_item .hover {
  position: absolute;
  top: 0;
  left: 0;
}
.product_item .product_action {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 0.5rem;
}
.product_container a.addBtn {
  position: absolute;
  bottom: 4%;
  right: 1.5rem;
  font-size: var(--fontSize-7);
}
.product_container a.addBtn,
.product_action .action_btn i {
  font-size: var(--fontSize-3);
  color: var(--text-color);
  font-weight: var(--weight-bolder);
  padding: 1rem;
  clip-path: circle();
  align-items: center;
  text-align: center;
  background-color: var(--green-alt);
}
.product_container a.addBtn:is(:hover, :focus),
.product_action .action_btn i:is(:hover, :focus) {
  background-color: var(--b-green);
  color: var(--white);
}
.action_btn {
  position: relative;
}
.action_btn::before,
.action_btn::after {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  transition: var(--transition-2);
}
.action_btn::before {
  content: "";
  top: -0.1rem;
  border: 0.25rem solid transparent;
  border-top-color: var(--green);
}
.action_btn::after {
  content: attr(aria-label);
  bottom: 50%;
  background-color: var(--b-green);
  color: var(--white);
  font-size: var(--fontSize-1);
  font-weight: var(--weight-regular-500);
  white-space: nowrap;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}
.arrivals .action_btn::after,
.related .action_btn::after,
.product .action_btn::after,
.shop .action_btn::after {
  margin-bottom: 1.7rem;
}
.product_item .hover,
.product_action,
.action_btn::after,
.action_btn::before,
.product_item:is(:hover, :focus) .default {
  opacity: 0;
}
.product_container:is(:hover, :focus) .product_item .product_action,
.product_container:is(:hover, :focus) .product_item .hover,
.action_btn:is(:hover, :focus)::after,
.action_btn:is(:hover, :focus)::before {
  opacity: 1;
}
.action_btn:is(:hover, :focus)::after,
.action_btn:is(:hover, :focus)::before {
  transform: translateX(-50%) translateY(-0.5rem);
}
.product_item .product_badge {
  position: absolute;
  top: 2%;
  left: 2%;
  font-weight: var(--weight-bold-700);
  padding: 0.2rem 0.8rem;
  font-family: var(--font_family-3);
  letter-spacing: var(--letterSpacing-1);
  color: var(--white);
  border-radius: 0.5rem;
  font-size: var(--fontSize-2);
}
.light_pink {
  background-color: hsl(341, 100%, 73%);
}
.light_green {
  background-color: hsl(155, 20%, 67%);
}
.light_orange {
  background-color: hsl(24, 100%, 73%);
}
.light_blue {
  background-color: hsl(202, 53%, 73%);
}
.arrive_container,
.product_container .product_desc {
  width: 100%;
  margin-top: 2rem;
}
.product_desc h4 {
  font-family: var(--font_family-2);
  font-size: var(--fontSize-1);
  font-weight: var(--weight-bold-700);
  letter-spacing: var(--letterSpacing-1);
  color: var(--text-color);
  padding-bottom: 0.5rem;
}
.product_desc h2 {
  font-family: var(--font_family-3);
  font-size: var(--fontSize-3);
  color: var(--black-3);
  padding-bottom: 0.5rem;
}
.product_desc .stars i {
  font-size: var(--fontSize-1);
  padding-bottom: 0.5rem;
  color: hsl(42, 100%, 50%);
  font-weight: var(--weight-bolder);
}
.product_desc .price_shop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.price_shop .price {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  gap: 0.2rem;
}
.price_shop .price h3 {
  color: var(--b-green);
  font-size: var(--fontSize-3);
  font-weight: var(--weight-bold-700);
  font-family: var(--font_family-3);
}
.price_shop .price h5 {
  text-decoration: line-through;
  font-size: var(--fontSize-1);
  padding-left: 0.5rem;
  align-items: center;
  color: var(--text-color);
}
/* ============ PRODUCTS SECTION ENDS ============= */

/* ================ DEALS SECTION STARTS ============= */
section.deals {
  overflow-x: hidden;
}
.deals {
  width: 100%;
  overflow-x: hidden;
}
.deals .deals_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  margin-bottom: 5rem;
  overflow-x: hidden;
}
.deals_container .box {
  flex: 1 1 45rem;
  width: 100%;
  padding: 3.5rem;
  box-shadow: var(--shadow-2);
  padding-bottom: 6rem;
}
.deals_container .deal_1 {
  background: url("/img/deals-1.jpg");
  filter: brightness(0.95);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  object-fit: contain;
}
.deals_container .deal_2 {
  background: url("/img/deals-2.png");
  filter: brightness(0.95);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  object-fit: contain;
}
.deals_container .box h2 {
  font-size: var(--fontSize-7);
  color: var(--b-green);
  font-weight: var(--weight-bolder);
  font-family: var(--font_family-3);
  padding-bottom: 0.5rem;
}
.deals_container .box h4 {
  font-size: var(--fontSize-2);
  color: var(--text-color);
  font-weight: var(--weight-regular-400);
  font-family: var(--font_family-3);
}
.deals_container .box p {
  font-size: var(--fontSize-3);
  color: var(--text-color);
  font-weight: var(--weight-regular-500);
  font-family: var(--font_family-3);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.deals_container .box h3 {
  font-size: var(--fontSize-3);
  color: var(--text-color);
  font-weight: var(--weight-bolder);
  font-family: var(--font_family-3);
  color: red;
  padding-bottom: 1.5rem;
}
.deals_container .box h3 span {
  font-size: var(--fontSize-1);
  color: var(--text-color);
  text-decoration: line-through;
  padding-left: 0.8rem;
}
.deals_container .box .timer {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  gap: 1.5rem;
  align-items: center;
  text-align: center;
  margin-top: 0.2rem;
  margin-bottom: 4rem;
}
.timer .divider {
  font-size: var(--fontSize-10);
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 2.5rem;
  color: var(--text-color);
  font-family: var(--font_family-3);
  font-weight: var(--weight-bolder);
}
.deals_container .box .timer .time h5 {
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  background-color: var(--b-green);
  font-size: var(--fontSize-3);
  font-weight: var(--weight-bolder);
  font-family: var(--font_family-3);
  color: var(--white);
}
.deals_container .box .timer .time span {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: var(--fontSize-1);
  font-weight: var(--weight-regular-500);
  font-family: var(--font_family-3);
  color: var(--text-color);
}
/* ================ DEALS SECTION ENDS ============= */

.arrive_desc {
  margin-top: 1.5rem;
}
/* ================ SHOWCASE SECTION STARTS ============= */
.showcase_cover {
  width: 100%;
}
.showcase_cover .showcase_head {
  position: relative;
  width: 100%;
  padding-bottom: 1.5rem;
  border-bottom: 0.25rem solid var(--border-color);
}
.showcase_cover .showcase_head h2 {
  font-size: var(--fontSize-3);
  font-weight: var(--weight-bold-700);
  font-family: var(--font_family-2);
  letter-spacing: var(--letterSpacing-1);
}
.showcase_cover .showcase_head::after {
  content: "";
  position: absolute;
  background-color: var(--b-green);
  width: 5rem;
  border-radius: 0.1rem;
  height: 0.5rem;
  bottom: 0;
  left: 0;
}
.showcase_cover .showcase_container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.showcase_container .showcase_items {
  width: 100%;
  margin-bottom: 3rem;
}
.showcase_items {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 2rem;
  border: 0.25rem solid var(--border-color-alt);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow-2);
}
.showcase_items .showcase_img {
  width: 100%;
  flex: 1 1 20rem;
  overflow: hidden;
}
img:hover {
  filter: brightness(0.8);
}
.showcase_items img:hover {
  transform: scale(1.1);
  filter: brightness(0.8);
  object-fit: cover;
}
.showcase_items .showcase_img img {
  width: 15rem;
}
.showcase_items .showcase_desc h3 {
  font-size: var(--fontSize-3);
  font-weight: var(--weight-regular-500);
  font-family: var(--font_family-3);
  padding-bottom: 1rem;
  color: var(--text-color);
}
.showcase_items .showcase_desc h4 {
  font-size: var(--fontSize-3);
  font-weight: var(--weight-bold-700);
  font-family: var(--font_family-3);
  color: var(--b-green);
}
.showcase_items .showcase_desc h4 span {
  font-size: var(--fontSize-1);
  padding-left: 1rem;
  text-decoration: line-through;
  color: var(--text-color);
}
/* ================ SHOWCASE SECTION ENDS ============= */

/* ================ NEWSLETTER SECTION STARTS ============= */
section.newsletter {
  padding: 0;
  padding-top: 7rem;
  overflow-x: hidden;
}
.newsletter .newsletter_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 3rem 4.5%;
  background-color: var(--green);
  background-color: var(--container-color);
  margin-bottom: 5rem;
  overflow-x: hidden;
}
.newsletter_container .news_box {
  display: flex;
  flex: 1 1 45rem;
}
.newsletter_container .news_box i {
  font-size: var(--fontSize-7);
  font-weight: var(--weight-bolder);
  padding-right: 1rem;
  align-items: center;
  color: var(--text-color);
}
.newsletter_container .news_box p {
  font-size: var(--fontSize-3);
  color: var(--text-color);
  padding-top: 0.5rem;
  align-items: center;
  font-weight: var(--weight-bolder);
  font-family: var(--font_family-3);
}
.newsletter_container .news_box input {
  height: 6rem;
  background-color: var(--white);
}
.newsletter_container .news_box .email_add {
  padding-left: 1rem;
  box-shadow: var(--shadow-2);
  text-transform: none;
  width: 80%;
  position: relative;
}
.newsletter_container .news_box .email_add:focus {
  border: 0.2rem solid var(--border-color);
}
.newsletter_container .news_box .submit {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 80%;
  padding: 1.3rem 2.5rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  border-top: 0.3rem solid var(--b-green);
  border-bottom: 0.3rem solid var(--b-green);
  color: var(--black-3);
  background-color: var(--green-alt);
  font-size: var(--fontSize-2);
  font-weight: var(--weight-bold-700);
  border-radius: 0.5rem;
  cursor: pointer;
}
.newsletter_container .news_box .submit:hover {
  color: var(--white);
  background-color: var(--b-green);
}
/* ================ NEWSLETTER SECTION ENDS ============= */

/* ================ FOOTER SECTION STARTS ============= */
section.footer {
  padding-bottom: 2rem;
  overflow-x: hidden;
}
.footer .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  overflow-x: hidden;
}
.footer .box-container .box {
  flex: 1 1 20rem;
}
.footer .box-container .box_1 {
  flex: 1 1 45rem;
}
.footer .box-container .box:nth-child(1) img {
  padding-bottom: 1.5rem;
  width: 10rem;
}
.footer .box-container .box h3 {
  color: #1a1a1a;
  font-size: var(--fontSize-3);
  padding-bottom: 1.5rem;
  font-weight: var(--weight-bolder);
}
.footer .box-container .box:nth-child(1) p {
  padding-bottom: 0.5rem;
}
.footer .box-container .box:nth-child(4) p {
  padding-bottom: 1rem;
}
.footer .box-container .box p {
  color: #1a1a1a;
  font-size: var(--fontSize-2);
}
.footer .box-container .box p span {
  color: #1a1a1a;
  font-weight: var(--weight-bold-700);
}
.footer .box-container .box .follow {
  padding-top: 2.5rem;
}
.footer .box-container .box .follow i {
  font-size: var(--fontSize-2);
  padding-right: 0.5rem;
}
.footer .box-container .box:nth-child(2) a,
.footer .box-container .box:nth-child(3) a {
  display: block;
  font-size: var(--fontSize-2);
  padding-bottom: 1.5rem;
  color: #465b52;
  width: 45%;
}
.footer .box-container .box a:hover {
  color: #088178;
  text-decoration: underline;
}
.footer .box-container .box .foot-img {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  display: flex;
  gap: 0.5rem;
}
.footer .box-container .box .foot-img img {
  border-radius: 0.5rem;
}
.footer .credit {
  padding-top: 4rem;
  text-align: center;
  font-size: 1.2rem;
}
.footer .credit p span {
  color: #088178;
  font-weight: var(--weight-bold-700);
}
/* ================ FOOTER SECTION ENDS ============= */

/* =========== SHOP STYLES STARTS ============= */
/* ==========BREADCRUMB SECTION STARTS ============ */
section.breadcrumb {
  width: 100%;
  padding: 0;
  padding: 0 4.5%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--container-color);
}
.breadcrumb ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.breadcrumb ul li {
  list-style: none;
}
.breadcrumb ul li a {
  font-size: var(--fontSize-3);
  color: var(--black-3);
  font-weight: var(--weight-bold-700);
}
/* ==========BREADCRUMB SECTION STARTS ============ */

.shop .shop_head {
  margin-bottom: 3rem;
}
.shop_head p {
  font-size: var(--fontSize-3);
  font-weight: var(--weight-regular-500);
  font-family: var(--font_family-3);
  color: var(--text-color);
  text-transform: none;
}
.tab_shop {
  margin-top: 7rem;
}
/* =========== SHOP STYLES ENDS ============= */

/* ============= PRODUCT DETAILS STYLES STARTS================= */
/* ============= PRODUCT DETAILS SECTION STARTS ============= */
.product_details .product_general_container {
  width: 100%;
}
.product__general_container .product_box_container {
  width: 100%;
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.product_box_container .box {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: contain;
}
.product_box_container .product_image {
  display: block;
}
.product_image .large_img {
  width: 100%;
}
.large_img {
  width: 35rem;
}
.product_image .small_image {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  gap: 2rem;
  flex-wrap: nowrap;
  flex-direction: row;
}
.small_img {
  width: 15rem;
}
.product_box_container .product_description {
  display: block;
}
.product_description h2 {
  font-size: var(--fontSize-6);
  color: var(--black-3);
  padding-bottom: 2.5rem;
  font-weight: var(--weight-bold-700);
  font-family: var(--font_family-2);
  letter-spacing: var(--letterSpacing-1);
}
.product_description h6 {
  font-size: var(--fontSize-2);
  color: var(--text-color);
  padding-bottom: 2rem;
  font-weight: var(--weight-regular-500);
  font-family: var(--font_family-3);
}
.product_description h6 span {
  color: var(--b-green);
  font-size: var(--fontSize-3);
  font-weight: var(--weight-bold-700);
}
.product_description .price {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  padding: 2rem 0;
  border-top: 0.2rem solid var(--border-color-alt);
  border-bottom: 0.2rem solid var(--border-color-alt);
}
.price span.cost {
  font-size: var(--fontSize-6);
  color: var(--b-green);
  font-weight: var(--weight-bold-700);
}
.price span:nth-child(3) {
  font-size: var(--fontSize-2);
  color: var(--text-color);
}
.price span:nth-child(2) {
  font-size: var(--fontSize-2);
  color: var(--text-color);
  text-decoration: line-through;
}
.product_description p.description {
  width: 100%;
  font-size: var(--fontSize-3);
  font-weight: var(--weight-regular-400);
  font-family: var(--font_family-3);
  line-height: var(--lineHeight-3);
  color: var(--text-color);
  margin: 2rem 0;
  margin-bottom: 3rem;
}
.product_description .warranty {
  display: block;
  align-items: center;
}
.warranty .box {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 1.2rem 0;
  align-items: center;
}
.warranty .box i {
  font-size: var(--fontSize-3);
  font-weight: var(--weight-bolder);
  color: var(--b-green);
}
.warranty .box h4 {
  font-size: var(--fontSize-3);
  font-weight: var(--weight-regular-500);
  font-family: var(--font_family-3);
  color: var(--text-color);
}
.product_description .size {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.size span {
  font-size: var(--fontSize-3);
  font-weight: var(--weight-bold-700);
  color: var(--text-color);
  font-family: var(--font_family-3);
}
.size select {
  color: var(--b-green);
  font-size: var(--fontSize-2);
  font-weight: var(--weight-bolder);
  font-family: var(--font_family-3);
  border-radius: 0.2rem;
  padding: 0 1.5rem;
  cursor: pointer;
  position: relative;
  border: 0.2rem solid var(--border-color);
}
.product_description .qty_btn {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}
.qty input {
  border: 0.2rem solid var(--border-color);
  border-radius: 0.2rem;
  padding-left: 0.8rem;
  width: 8rem;
  align-items: center;
  justify-content: center;
  height: 4.5rem;
}
.qty_submit input {
  cursor: pointer;
  padding: 1.3rem 2.2rem;
  border-top: 0.3rem solid var(--b-green);
  border-bottom: 0.3rem solid var(--b-green);
  color: var(--black-3);
  background-color: var(--green-alt);
  font-size: var(--fontSize-3);
  font-weight: var(--weight-regular-500);
  border-radius: 0.5rem;
}
.qty_submit input:hover {
  color: var(--white);
  background-color: var(--b-green);
  letter-spacing: var(--letterSpacing-1);
}
.qty_fav img {
  width: 3.3rem;
  height: 4.5rem;
  align-items: center;
  justify-content: center;
}
/* ============= PRODUCT DETAILS SECTION ENDS ============= */

/* ============= PRODUCT REVIEW SECTION STARTS ============= */
.reviews_container table {
  width: 100%;
  border-radius: 0.5rem;
  border-collapse: collapse;
  border: 0.1rem solid var(--border-color-alt);
}
.reviews_container tr th,
.reviews_container tr td {
  border: 0.1rem solid var(--border-color-alt);
  padding: 0.5rem 1.3rem;
}
.reviews_container tr th {
  padding: 0 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: var(--fontSize-3);
  font-weight: var(--weight-bold-700);
  color: var(--black-3);
  font-family: var(--font_family-3);
  text-align: left;
}
.reviews_container tr td {
  padding: 0 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-size: var(--fontSize-3);
  font-weight: var(--weight-regular-500);
  color: var(--text-color);
  font-family: var(--font_family-3);
  text-align: left;
}
.tab_rev_info {
  justify-content: start;
  margin-bottom: 3rem;
}
.info_container {
  margin-top: 4rem;
}
.reviews .info_box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  width: 100%;
  border-bottom: 0.1rem solid var(--border-color-alt);
  margin-bottom: 3rem;
}
.info_box .person img {
  width: 10rem;
  object-fit: cover;
  clip-path: circle();
}
.info_box .person p {
  text-align: center;
  font-weight: var(--weight-regular-500);
  color: var(--text-color);
  padding-bottom: 1rem;
  font-family: var(--font_family-2);
  font-size: var(--fontSize-3);
}
.info_box .info {
  align-items: center;
}
.info .stars {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.info .stars i {
  font-size: var(--fontSize-2);
  font-weight: var(--weight-bolder);
  color: hsl(42, 100%, 50%);
}
.info p {
  font-size: var(--fontSize-3);
  text-transform: none;
  font-weight: var(--weight-regular-500);
  font-family: var(--font_family-3);
  align-items: center;
  color: var(--text-color);
  padding-bottom: 1rem;
}
.info_container .add_review {
  width: 100%;
  align-items: center;
}
.add_review h3 {
  font-size: var(--fontSize-3);
  font-weight: var(--weight-bold-700);
  font-family: var(--font_family-2);
  color: var(--text-color);
  padding-bottom: 1rem;
  text-transform: none;
}
.add_review .stars {
  font-size: var(--fontSize-2);
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-bottom: 3rem;
}
.add_review .comment_review {
  width: 100%;
}
.comment_review .inputs {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  gap: 2rem;
  margin: 2rem 0;
}
.comment_review textarea {
  border: 0.2rem solid var(--border-color);
  width: 100%;
  font-size: var(--fontSize-2);
  font-family: var(--font_family-3);
  font-weight: var(--weight-regular-500);
  color: var(--black-3);
  border-radius: 0.5rem;
  padding-left: 1rem;
  padding-top: 1rem;
}
.comment_review input {
  border: 0.2rem solid var(--border-color);
  width: 100%;
  height: 4.5rem;
  font-size: var(--fontSize-2);
  font-family: var(--font_family-3);
  font-weight: var(--weight-regular-500);
  color: var(--black-3);
  border-radius: 0.5rem;
  padding-left: 1rem;
}
.comment_review textarea::placeholder,
.comment_review input::placeholder {
  text-transform: none;
  justify-content: start;
}
textarea:focus,
input:focus {
  border: 0.2rem solid var(--b-green) !important;
}
.submit_review input {
  cursor: pointer;
  padding: 1.3rem 2.2rem;
  border-top: 0.3rem solid var(--b-green);
  border-bottom: 0.3rem solid var(--b-green);
  color: var(--black-3);
  background-color: var(--green-alt);
  font-size: var(--fontSize-3);
  font-weight: var(--weight-regular-500);
  border-radius: 0.5rem;
}
.submit_review input:hover {
  color: var(--white);
  background-color: var(--b-green);
  letter-spacing: var(--letterSpacing-1);
}
/* ============= PRODUCT REVIEW SECTION ENDS ============= */

/* ============= PRODUCT DETAILS STYLES ENDS ================ */

/* FADE IN ANIMATION */
.fade-up {
  opacity: 0;
  transform: translateX(-150px);
}
.fade-up.fade-up-active {
  opacity: 1;
  transform: translateX(0);
}
.fade-up.fade-up-active:nth-child(1) {
  transition-delay: 50ms;
}
.fade-up.fade-up-active:nth-child(2) {
  transition-delay: 100ms;
}
.fade-up.fade-up-active:nth-child(3) {
  transition-delay: 150ms;
}
.fade-up.fade-up-active:nth-child(4) {
  transition-delay: 200ms;
}
.fade-up.fade-up-active:nth-child(5) {
  transition-delay: 250ms;
}
/* FADE IN ANIMATION */

/* ========== CART SECTION STARTS ============= */
section.cart {
  transform-origin: left;
  position: fixed;
  top: 0%;
  right: 0;
  width: 30%;
  height: 100vh;
  padding: 2rem;
  z-index: 10000;
  overflow-x: hidden;
  background-color: var(--white);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  transform: scaleX(0);
  transform-origin: right;
  transition: 0.5s ease;
  overflow: auto;
  overflow-y: auto;
}
#cart-items.showCart {
  transform: scaleX(1);
}
.cart-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 0.2rem solid var(--b-green);
}
.cart-title h2 {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: var(--black-3);
  font-weight: var(--weight-bold-700);
}
.cart-title i {
  font-size: 2.2rem;
  font-weight: bolder;
}
.cart-box {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.cart-box img {
  width: 30%;
  object-fit: cover;
}
.detail-box {
  padding-top: 1rem;
}
.detail-box .cart-product-title {
  font-size: 1.3rem;
  font-weight: var(--weight-bold-700);
  word-spacing: 0.5rem;
  padding-bottom: 1rem;
}
.cart-price {
  font-size: 1.3rem;
  font-weight: var(--weight-bold-700);
  padding-bottom: 1rem;
}
.cart-size {
  padding-bottom: 1rem;
}
.cart-size select {
  cursor: pointer;
  background-color: var(--b-green);
  color: var(--white);
  padding: 0.5rem;
  border-radius: 1rem;
  padding-right: 0.5rem;
  font-size: 1.3rem;
  font-weight: bolder;
}
.cart-quantity {
  border: 0.1rem solid var(--border-color);
  width: 4rem;
  height: 4rem;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
  outline: #041e42;
  font-size: 1.3rem;
  font-weight: var(--weight-bold-700);
}
.cart-box i {
  margin-left: 3rem;
  margin-top: 1rem;
}
.cart-box i {
  font-size: 2rem;
  color: red;
  transition: 0.4s ease;
}
.cart-box i:hover {
  transform: scale(1.1);
}
.icons span {
  position: absolute;
  margin-left: 1.5rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  clip-path: circle();
  background-color: var(--b-green);
  color: var(--white);
}
.cart-box {
  position: relative;
}
.cart-box i {
  position: absolute;
  right: 0;
}
.remove-items {
  font-size: 10rem;
  color: var(--b-green);
  font-weight: bolder;
  transition: 0.4s ease;
}
.remove-items:hover {
  transform: scale(1.2);
}
.summary_items {
  padding-bottom: 15rem;
}
.item-summary {
  border: 0.1rem solid var(--border-color);
  padding: 2rem;
  width: 100%;
  margin: 0 auto;
  margin-top: 5rem;
}
.summary h2 {
  padding-bottom: 1rem;
  word-spacing: 0.3rem;
  font-size: 1.5rem;
  font-weight: var(--weight-bold-700);
  color: var(--text-color);
}
.details {
  background-color: var(--b-green);
  padding: 0 1rem;
  align-items: center;
  height: 5rem;
  display: flex;
  justify-content: space-between;
}
.details h2 {
  color: var(--white);
}
.coupon h2 {
  color: var(--text-color);
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}
#select-del {
  font-size: 1.2rem;
  font-weight: var(--weight-bold-700);
  word-spacing: 0.2rem;
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  border: 0.1rem solid var(--b-green);
}
.coupon input {
  width: 100%;
  height: 5rem;
  border: 0.1rem solid var(--text-color);
  padding: 1rem;
}
.checkOut,
.promo-btn {
  padding: 1.2rem 2.5rem;
  border-top: 0.3rem solid var(--b-green);
  border-bottom: 0.3rem solid var(--b-green);
  color: var(--black-3);
  background-color: var(--green-alt);
  font-size: var(--fontSize-3);
  font-weight: var(--weight-regular-500);
  border-radius: 0.5rem;
  margin-top: 1rem;
}
.checkOut {
  width: 100%;
}
.checkOut:hover,
.promo-btn:hover {
  color: var(--white);
  background-color: var(--b-green);
  letter-spacing: var(--letterSpacing-1);
}
.total {
  border-top: 0.2rem solid var(--border-color-alt);
  padding-top: 2rem;
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
}
.total h2 {
  font-size: 1.5rem;
  color: var(--text-color);
  font-weight: var(--weight-bold-700);
}
/* ========== CART SECTION ENDS ============= */

/* ========= LOGIN / CREAT ACCOUNT SECTION STARTS ======== */
.signIn {
  padding: 5rem 0;
  padding-bottom: 5rem;
  text-align: center;
  width: 100%;
}
.signIn-head {
  margin-bottom: 3rem;
}
.signIn-head h3 {
  text-transform: none;
  font-weight: var(--weight-bold-700);
  font-size: var(--fontSize-6);
  padding-bottom: 1rem;
  color: var(--text-color);
}
.signIn-head p {
  text-transform: none;
  font-weight: var(--weight-regular-500);
  font-size: var(--fontSize-2);
}
.signIn-head p a {
  text-transform: none;
  color: var(--text-color);
  text-decoration: underline;
}
.signIn-head p a:hover {
  text-decoration: none;
}
.signIn_form {
  background-color: var(--white);
  border-radius: 0.5rem;
  padding: 3rem;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.signIn_form form label {
  font-size: var(--fontSize-2);
  font-weight: var(--weight-regular-500);
  text-align: left;
  text-transform: none;
  float: left;
  padding-bottom: 0.5rem;
}
.signIn_form form input {
  display: block;
  width: 100%;
  height: 4.5rem;
  padding-left: 1rem;
  color: var(--text-color);
  color: RGB(75, 85, 99);
  font-size: var(--fontSize-2);
  font-weight: var(--weight-regular-500);
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
}
.rem_for {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin: 2rem 0;
  align-items: center;
  text-align: center;
}
input[type="checkbox"] {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1.8rem;
  height: 1.8rem;
  border: 1px solid var(--b-green);
  border-radius: 0.2rem;
}
input[type="checkbox"]:after {
  position: absolute;
  content: "";
  top: 20%;
  left: 20%;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--white);
  opacity: 0;
}
input[type="checkbox"]:checked {
  background-color: var(--b-green);
}
input[type="checkbox"]:checked::after {
  opacity: 1;
}
.rem_for .remember label {
  font-size: var(--fontSize-2);
  padding-left: 0.3rem;
  font-weight: normal;
  text-transform: none;
}
.rem_for .forgot a:hover {
  text-decoration: none;
}
.forgot-2 {
  text-align: center;
  margin: 2rem 0;
  justify-content: center;
}
.forgot-2 a,
.rem_for .forgot a {
  font-size: var(--fontSize-2);
  padding-left: 0.3rem;
  font-weight: var(--weight-regular-500);
  color: var(--text-color);
  text-decoration: underline;
  text-transform: none;
}
.forgot-2 a {
  text-decoration: none;
}
.forgot-2 a:hover {
  text-decoration: underline;
}
.signIn_form .signIn_btn input {
  padding: 1.3rem 2.2rem;
  border-top: 0.3rem solid var(--b-green);
  border-bottom: 0.3rem solid var(--b-green);
  color: var(--black-3);
  background-color: var(--green-alt);
  font-size: var(--fontSize-3);
  font-weight: var(--weight-regular-500);
  border-radius: 0.5rem;
  width: 100%;
  cursor: pointer;
}
.signIn_form .signIn_btn input:hover {
  color: var(--white);
  background-color: var(--b-green);
  letter-spacing: var(--letterSpacing-1);
}

.btn a:hover {
  color: var(--white);
  background-color: var(--b-green);
  letter-spacing: var(--letterSpacing-1);
}
.signIn_form .options {
  margin: 3rem 0;
}
.signIn_form .options p {
  margin-bottom: 3rem;
  font-size: var(--fontSize-2);
  position: relative;
  text-transform: none;
}
.signIn_form .options p::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 32%;
  height: 0.1rem;
  background-color: rgba(0, 0, 0, 0.2);
}
.signIn_form .options p::before {
  position: absolute;
  content: "";
  top: 50%;
  right: 0;
  width: 32%;
  height: 0.1rem;
  background-color: rgba(0, 0, 0, 0.2);
}
.signIn_form .options .opt {
  display: flex;
  margin-top: 1rem;
  text-align: center;
  justify-content: center;
  gap: 2rem;
}
.signIn_form .options .opt a {
  width: 100%;
  color: var(--text-color);
  font-size: var(--fontSize-4);
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
}
.signIn_form .options .opt a:hover {
  background-color: var(--b-green);
  color: var(--white);
}
/* ========= LOGIN / CREAT ACCOUNT SECTION ENDS ======== */

/* ========== ACCOUNT SECTION STARTS ============= */
.account {
  width: 100%;
}
.account .account_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 2rem;
}
.tab_content:not(.active_tab) {
  display: none;
}
.account_container .box_tab {
  flex: 1 1 10rem;
  width: 100%;
  border: 0.1rem solid var(--container-color);
  border-radius: 0.5rem;
}
.account_container .box_content {
  flex: 1 1 45rem;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--container-color);
}
.box_tab .account_tabs {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.account_tabs .account_tab {
  font-size: var(--fontSize-3);
  font-weight: var(--weight-bold-700);
  font-family: var(--font_family-3);
  color: var(--text-color);
  display: flex;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 0.8rem;
  border-bottom: 0.1rem solid var(--container-color);
  padding: 1.5rem;
  cursor: pointer;
}
.account_tabs .account_tab:nth-child(6) {
  border-bottom: none;
}
.account_tab.active_tab,
.account_tabs .account_tab:hover {
  background-color: var(--b-green);
  color: var(--white);
}
.box_content .tab_contents {
  width: 100%;
}
.tab_contents .tab_content {
  width: 100%;
}
.tab_content h3 {
  background-color: var(--border-color-alt);
  color: var(--text-color);
  padding: 1.5rem;
  font-size: var(--fontSize-3);
  font-weight: var(--weight-bold-700);
  font-family: var(--font_family-3);
}
.tab_content .body {
  padding: 1.5rem;
  padding-bottom: 3rem;
}
.tab_content .body p {
  font-size: var(--fontSize-3);
  font-weight: var(--weight-regular-500);
  font-family: var(--font_family-3);
  text-transform: none;
  color: var(--text-color);
  line-height: var(--lineHeight-3);
}
.tab_content .orders {
  width: 100%;
}
.orders .order_list {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  border-collapse: collapse;
}
.orders tr th {
  text-align: left;
  gap: 5rem;
}
.orders tr th {
  font-weight: var(--weight-bolder);
}
.orders tr th,
.orders tr td {
  border: 0.1rem solid var(--border-color-alt);
  padding: 1rem;
  font-family: var(--font_family-3);
  font-size: var(--fontSize-2);
  color: var(--text-color);
}
.tab_content .location_address a:hover,
.orders a:hover {
  text-decoration: underline;
}
.body input {
  border: 0.2rem solid var(--border-color);
  width: 100%;
  height: 4.5rem;
  border-radius: 0.5rem;
  padding-left: 1rem;
  font-size: var(--fontSize-2);
  font-family: var(--font_family-3);
  margin-bottom: 1rem;
}
.body .address {
  font-size: var(--fontSize-3);
  font-weight: var(--weight-regular-500);
  font-family: var(--font_family-3);
  line-height: var(--lineHeight-3);
  color: var(--text-color);
  padding-bottom: 0;
}
.tab_content .location_address p {
  font-size: var(--fontSize-3);
  text-transform: none;
  padding-bottom: 1rem;
  font-weight: var(--weight-regular-500);
  font-family: var(--fontSize-3);
}
.tab_content .location_address a {
  font-size: var(--fontSize-2);
}
/* ========== ACCOUNT SECTION ENDS ============= */
